[Desktop Entry]
Version=1.0
Type=Application
Name=Isaac Sim
Comment=Launch NVIDIA Isaac Sim (GUI) with ROS 2 Humble
Exec=terminator --title="Isaac Sim" -x /usr/local/bin/run-isaacsim.sh
Icon=utilities-terminal
Terminal=false
Categories=Development;Simulation;
